<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>날씨 및 자외선 정보를 제공하기 위해 위치가 필요해요.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_APP_KEY)</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>ChironGoRoundTC-400R.otf</string>
		<string>ChironGoRoundTC-500M.otf</string>
		<string>ChironGoRoundTC-600SB.otf</string>
	</array>
</dict>
</plist>
